<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TourPlan - Wybór Zabytków</title>
    <link rel="stylesheet" href="../static/src/style_index.css"> </head>
</head>
<body>
    <div class="container">
        <h1>Wybierz zabytki do zwiedzania</h1>
        <form method="POST" action="/route">
            {% for place in places %}
                <div class="place-item">
                    <input type="checkbox" name="places" value="{{ place }}" id="place-{{ loop.index }}">
                    <label for="place-{{ loop.index }}"> {{ place }}</label>
                </div>
            {% endfor %}
            <div style="padding-top: 16px;">
                <button type="submit">
                    Wyznacz trasę
                </button>
            </div>
        </form>
    </div>
</body>
</html>